{% extends 'sst/dashboard.html' %}
{% block content %} 


<div class="container-fluid">
<div class="row">
    <div class="col-md-12">

    <h2>Control de proveedores</h2>
    
    </div>
    </div>



    <div class="row">
    <div class="col-md-12">

<div class="panel panel-default">
  <div class="panel-body">
   
    <form action="/agregar_aliados"  method='POST' enctype="multipart/form-data">

{% csrf_token %}    

<br/>

<div class="form-group">
  <label for="basic-url">Nombre del proveedor</label><br>
  <input type="text" class="form-control" name="name" value="{{name}}" required />
</div>


<input type="hidden" name="id" value="{{id}}"/>

<br/>

<div class="form-group">
  <label for="basic-url">Nit</label><br>
  <input type="text" class="form-control" name="nit" value="{{nit}}" required />
</div>

<br/>

<div class="form-group">
    <label for="arl">ARL</label>
    <input type="file" class="form-control-file" id="arl" name="arl"/>
</div>

<br/>

<div class="form-group">
    <label for="cumplimiento_arl">Porcentaje de cumplimiento ARL</label>
    <input type="file" class="form-control-file" id="cumplimiento_arl" name="cumplimiento_arl"/>
</div>

<br/>

<div class="form-group">
    <label for="pago_seguridad_social">Pago de seguridad social</label>
    <input type="file" class="form-control-file" id="pago_seguridad_social" name="pago_seguridad_social"/>
</div>


    <br/>
      <div class="form-group" role="group" aria-label="btn">      
        <button class="btn btn-success" value="{{action_text}}" type="submit"> <i class="fas fa-save"></i>    Guardar</button>

        <a class="btn btn-primary" href="/aliados"> <i class="fa fa-arrow-left"></i> Regresar</a>

      </div>
    
    
    </form>

    {% if id %}
        <hr/>
        <h2>Productos del aliado</h2>

        <div class="row">
        <div class="col-md-12">
          <a class="btn btn-success" href="/formulario_productos/0/{{id}}"> <i class="fa fa-plus-square"></i>   Agregar producto</a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <tr>
              <th>Producto</th>
              <th>Ficha de seguridad producto</th>
            </tr>
            {% for producto in lista_productos %}
            <tr>
              <td>{{producto.nombre}}</td>
              <td><a href="{{producto.seguridad_producto}}">DESCARGAR SEGURIDAD PRODUCTO</a></td>
              <td>
                <div class="btn-group" role="group" aria-label="btn"></div>
                  <a class="btn btn-warning" href="/formulario_productos/{{producto.id}}/{{id}}"> <i class="fa fa-plus-square"></i>   Actualizar</a>
                  <a class="btn btn-danger" href="/eliminar_productos/{{producto.id}}"> <i class="fa fa-trash"></i>   Eliminar</a>
                </div>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    {% endif %}


  </div>
    </div>
        

        
    </div>
    </div>


    </div>
   
  </div>
</div>
</div>


{% endblock %}