{% extends 'sst/dashboard.html' %}
{% block content %}
<!-- <form action="agregar_responsabilidades" method="post" enctype="multipart/form-data"> -->
<div class="container-fluid">
  <div class="row">
      <div class="col-md-12"> 
          <h2>Responsabilidades SG-SST</h2>
      </div>
  </div>
    
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <form action="/agregar_responsabilidades" method='POST' enctype="multipart/form-data">
            {% csrf_token %}   
            <br/>
            <input type="hidden" name="id" value="{{id}}"/>
            
            <div class="row">
              <div class="col">
                <label for="basic-url">Empresa</label><br>
                <input type="text" class="form-control" name="empresa" value="{{empresa}}" required />
              </div>
              <div class="col">
                <label for="basic-url">Nit</label><br>
                <input type="text" class="form-control" name="nit" value="{{nit}}" required />
              </div>
            </div>
            <br/>

            <div class="form-group">
                <label for="basic-url">Responsabilidades</label><br>
                <textarea class="form-control" name="responsabilidades" id="responsabilidades" rows="3">{{responsabilidades}}</textarea>
            </div>  
            <br/>
            
            <div class="row">
              <div class="col">
                <label for="basic-url">Firma</label><br>
                <input type="text" class="form-control" name="firma" value="{{firma}}" />
              </div>
              <div class="col">
                <label for="basic-url">Fecha</label><br>
                <input type="date" class="form-control" name="fecha" value="{{fecha}}" timezone="[[timezone]]" />
              </div>       
              <div>    
              <label for="basic-url">Firma_img</label><br>
              <input type="file" name = "firma_img" id = "firma_img" />
              </div>   
            </div>
            <br/>
            <div class="form-group" role="group" aria-label="btn">      
              <button class="btn btn-success" value="{{action_text}}" type="submit"> <i class="fas fa-save"></i>Guardar</button>
              <a class="btn btn-primary" href="/"> <i class="fa fa-arrow-left"></i> Regresar</a>
            </div>
          </form>
        </div>
      </div>
  </div>
</div>
{% endblock %}