{% extends 'sst/dashboard.html' %}
{% block content %} 


<div class="container-fluid">
<div class="row">
    <div class="col-md-12">

    <h2>Riesgos psicosociales / Plan de emergencia</h2>
    
    </div>
    </div>



    <div class="row">
    <div class="col-md-12">

<div class="panel panel-default">
  <div class="panel-body">
   
    <form action="/agregar_riesgos"  method='POST' enctype="multipart/form-data">

{% csrf_token %}    

<input type="hidden" name="id" value="{{id}}"/>

<br/>

<div class="form-group">
    <label for="arl">Riesgos psicosociales</label>
    <input type="file" class="form-control-file"  name="riesgosFile"/>
</div>

<br/>

<div class="form-group">
    <label for="cumplimiento_arl">Plan de emergencia</label>
    <input type="file" class="form-control-file" name="emergenciaFile"/>
</div>

    <br/>
      <div class="form-group" role="group" aria-label="btn">      
        <button class="btn btn-success" value="{{action_text}}" type="submit"> <i class="fas fa-save"></i>    Guardar</button>
        <a class="btn btn-primary" href="/riesgos"> <i class="fa fa-arrow-left"></i> Regresar</a>
      </div>
    
    
    </form>
  </div>
    </div>
        

        
    </div>
    </div>


    </div>
   
  </div>
</div>
</div>


{% endblock %}