{% extends 'facturacion/dashboard.html' %}
{% block content %} 


<div class="container-fluid">
<div class="row">
    <div class="col-md-12">

    <h2>Gestion de clientes</h2>
    
    </div>
    </div>



    <div class="row">
    <div class="col-md-12">

<div class="panel panel-default">
  <div class="panel-body">
   
    <form action="/agregar" method='POST'>

{% csrf_token %}    

<p>

<div class="input-group">
  <label for="basic-url">Nombre</label>
  <input type="text" class="form-control" name="nombre" value="{{nombre}}">
</div>


<input type="hidden" name="id" value="{{id}}"/>

<p>

<div class="input-group">
  <label for="basic-url">Cedula</label>
  <input type="text" class="form-control" name="cedula" value="{{cedula}}">
</div>

<p>

<div class="input-group">
  <label for="basic-url">Telefono</label>
  <input type="text" class="form-control" name="telefono" value="{{telefono}}">
</div>

<p>

<div class="input-group">
  <label for="basic-url">Tipo cliente</label>
  <input type="text" class="form-control" name="tipo" value="{{tipoo}}">
</div>




    <p>  
      <div class="btn-group" role="group" aria-label="btn">      
        <button class="btn btn-success" value="{{action_text}}" type="submit"> <i class="fa fa-pencil"></i> Guardar</button>

        <a class="btn btn-primary" href="/"> <i class="fa fa-trash"></i> Regresar</a>

      </div>
    
    
    </form>




  </div>
    </div>
        

        
    </div>
    </div>


    </div>
   
  </div>
</div>
</div>


{% endblock %}