{% extends 'sst/dashboard.html' %}
{% block content %}   
   
   
<div class="row">
  <div class="col-md-12">

    <h2>Control de proveedores</h2>
    
    </div>
    </div>


    <div class="row">
    <div class="col-md-12">
    <a class="btn btn-success" href="/formulario_aliados/0"> <i class="fa fa-plus-square"></i>   Agregar aliado</a>
        
    </div>
    </div>


    <div class="row">
    <div class="col-md-12">

        <table class="table">
            <tr>
                
                <th>Nombre del proveedor</th>
                <th>NIT</th>
                <th>ARL</th>
                <th>Porcentaje de cumplimiento ARL</th>
                <th>Pago de seguridad social</th>
                <th>Acciones</th>

            
            </tr>

            {% for aliado in lista_aliados %}

            <tr>
                <td>{{aliado.name}}</td>
                <td>{{aliado.nit}}</td>
                <td>{{aliado.arl}}</td>
                <td>{{aliado.cumplimiento_arl}}</td>
                <td>{{aliado.pago_seguridad_social}}</td>
                <td>
                  
                  <div class="btn-group" role="group" aria-label="btn"></div>
                    <a class="btn btn-warning" href="/formulario_aliados/{{aliado.id}}"> <i class="fa fa-plus-square"></i>   Actualizar</a>

                    <a class="btn btn-danger" href="/eliminar_aliados/{{aliado.id}}"> <i class="fa fa-trash"></i>   Eliminar</a>
                  </div>
                  
                </td>
            
            </tr>

            {% endfor %}
        
        </table>

        
    </div>
    </div>


    </div>
   
  </div>
</div>

{% endblock %}