{% extends 'facturacion/dashboard.html' %}
{% block content %}   
   
   
<div class="row">
  <div class="col-md-12">

    <h2>Gestion de clientes</h2>
    
    </div>
    </div>


    <div class="row">
    <div class="col-md-12">
    <a class="btn btn-success" href="/formulario/0"> <i class="fa fa-plus-square"></i>   Agregar Cliente</a>
        
    </div>
    </div>


    <div class="row">
    <div class="col-md-12">

        <table class="table">
            <tr>
                <th>Cedula</th>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Tipo cliente</th>
                <th>Acciones</th>
            
            </tr>

            {% for cliente in lista_clientes %}

            <tr>
                <td>{{cliente.cedula}}</td>
                <td>{{cliente.nombre}}</td>
                <td>{{cliente.telefono}}</td>
                <td>{{cliente.tipoo}}</td>
                <td>
                  
                  <div class="btn-group" role="group" aria-label="btn"></div>
                    <a class="btn btn-warning" href="/formulario/{{cliente.id}}"> <i class="fa fa-plus-square"></i>   Actualizar</a>

                    <a class="btn btn-danger" href="/eliminar/{{cliente.id}}"> <i class="fa fa-trash"></i>   Eliminar</a>
                  </div>
                  
                </td>
            
            </tr>

            {% endfor %}
        
        </table>

        
    </div>
    </div>


    </div>
   
  </div>
</div>

{% endblock %}