<h1 class="text-center">POLITICAS SG-SST</h1>
<div class="container">
    <div class="row">
      <div class="col-6 col-sm-4">{{empresa}}</div>
      <!-- Force next columns to break to new line at md breakpoint and up -->
      <div class="w-100 d-none d-md-block"></div>
      <div class="col-6 col-sm-4">NIT: {{nit}}</div>
    </div>
  </div>
<br/>
<div class="container">
    <div class="row">
        <div class="col align-self-start">
          {{comentarios}}
        </div>
    </div>
    <br/>
    <div class="row">
      <div class="col align-self-start">
        <h3>Compromisos Generales</h3>
        {{compromisos}}
      </div>
    </div>
    <div class="w-100 d-none d-md-block"></div>
    <br/>
    <div class="row">
        <div class="col align-self-start">
          <h3>Requisitos Legales</h3>
          {{requisitos_legales}}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col align-self-start">
          <h3>Objetivos</h3>
          {{objetivos}}
        </div>
    </div>
    <br/>
</div>
<br/>
<br/>
<div class="container">
    <div class="row">
        <div class="col-6 col-sm-4">_____________________</div>
        <div class="w-100 d-none d-md-block"></div>        
        <div class="col-6 col-sm-4">{{firma}}</div>
    </div>
</div>