<h1 class="text-center">RESPONSABILIDADES SG-SST</h1>
<div class="container">
    <div class="row">
      <div class="col-6 col-sm-4">{{empresa}}</div>
      <!-- Force next columns to break to new line at md breakpoint and up -->
      <div class="w-100 d-none d-md-block"></div>
      <div class="col-6 col-sm-4">NIT: {{nit}}</div>
    </div>
  </div>
<br/>
    <div class="row">
      <div class="col align-self-start">
        <h3>Responsabilidades Generales</h3>
        {{responsabilidades}}
      </div>
    </div>
    <div class="w-100 d-none d-md-block"></div>
    <br/>    
</div>
<br/>
<br/>
<div class="container">  
    <div class="row">
      <!-- <img src= "C:\Users\Diego\Documents\sg-sst\APP_SG_SST\media\firma digital_3rAhmXw.JPG"> -->
        <!-- <img src="C:\Users\Diego\Documents\sg-sst\APP_SG_SST\media"> -->
        <img src="../{{firma_img}}">
        <div class="col-6 col-sm-4">_____________________</div>
        <div class="w-100 d-none d-md-block"></div>        
        <div class="col-6 col-sm-4">{{firma}}</div>
    </div>
</div>