{% extends 'sst/dashboard.html' %}
{% block content %}   
<div class="row">
    <div class="col-md-12">
        <h2>Politicas SG-SST</h2>
    </div>
</div>
    
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-success" href="/formulario_politicas/0"> <i class="fa fa-plus-square"></i>   Agregar Politicas</a>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Nit</th>
                <th>Empresa</th>
                <th>Firma</th>
                <th>Fecha</th>
            </tr>
        {% for item in politicas %}
            <tr>
                <td>{{item.nit}}</td>
                <td>{{item.empresa}}</td>
                <td>{{item.firma}}</td>
                <td>{{item.fecha}}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="btn"></div>
                        <a class="btn btn-warning" href="/formulario_politicas/{{item.id}}"> <i class="fa fa-plus-square"></i>   Actualizar</a>
                        <a class="btn btn-danger" href="/eliminar_politicas/{{item.id}}"> <i class="fa fa-trash"></i>   Eliminar</a>
                        <a class="btn btn-info" href="/pdf_politicas/{{item.id}}"><i class="fas fa-file-pdf"></i> Generar Archivo</a>
                    </div>               
                </td>
            </tr>
        {% endfor %}  
        </table>   
    </div>
</div>

{% endblock %}