{% extends 'sst/dashboard.html' %}
{% block content %} 

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>Gestion de queja</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form action="/agregar_queja" method='POST'>
                        {% csrf_token %}
                        <br/>
                        <div class="form-group">
                            <label for="basic-url">miembro</label><br>
                            <input type="text" class="form-control" name="miembro" value="{{miembro}}" required />
                        </div>
                        <input type="hidden" name="id" value="{{id}}"/>
                        <br/>
                        <div class="form-group">
                            <label for="basic-url">descripción</label><br>
                            <input type="text" class="form-control" name="descripcion" value="{{descripcion}}" required />
                        </div>
                        <br/>
                        <div class="form-group">
                            <label for="basic-url">fecha</label><br>
                            <input type="date" class="form-control" name="fechaInscripcion" value="{{fechaInscripcion}}" />
                        </div>
                        <br/>
                        <div class="form-group" role="group" aria-label="btn">      
                            <button class="btn btn-success" value="{{action_text}}" type="submit"> <i class="fas fa-save"></i>    Guardar</button>
                            <a class="btn btn-primary" href="/cocola"> <i class="fa fa-arrow-left"></i> Regresar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}