{% extends 'sst/dashboard.html' %}
{% block content %} 


<div class="container-fluid">
<div class="row">
    <div class="col-md-12">

    <h2>Acta de conformación y nombramiento COPASST</h2>
    
    </div>
    </div>



    <div class="row">
    <div class="col-md-12">

<div class="panel panel-default">
  <div class="panel-body">
   
    <form action="/agregar_nombramiento_copasst" method='POST' enctype="multipart/form-data">

{% csrf_token %}    

<br/>


<input type="hidden" name="id" value="{{id}}"/>

<input type="hidden" name="tipo_archivo" value="1"/>

<div class="form-group">
    <label for="arl">Conformación y nombramiento</label>
    <input type="file" class="form-control-file" id="nombramiento" name="nombramiento" value="{{nombramiento}}"/>
</div>

<br/>

<div class="form-group">
  <label for="basic-url">Fecha</label><br>
  <input type="date" class="form-control" name="fecha" value="{{fecha}}" required />
</div>

    <br/>
      <div class="form-group" role="group" aria-label="btn">      
        <button class="btn btn-success" value="{{action_text}}" type="submit"> <i class="fas fa-save"></i>    Guardar</button>

        <a class="btn btn-primary" href="/nombramiento_copasst"> <i class="fa fa-arrow-left"></i> Regresar</a>

      </div>
    
    
    </form>




  </div>
    </div>
        

        
    </div>
    </div>


    </div>
   
  </div>
</div>
</div>


{% endblock %}