{% extends 'sst/dashboard.html' %}
{% block content %}   
   
   
<div class="row">
  <div class="col-md-12">

    <h2>Acta de reunión COPASST</h2>
    
    </div>
    </div>

    <div class="row">
    <div class="col-md-12">
    <div class="btn-group">
    <a class="btn btn-success" href="/formulario_reunion_copasst/0"> <i class="fa fa-plus-square"></i>   Agregar acta de reunión</a>
    <a class="btn btn-success" href="/media/ACTA%20PARA%20REUNIONES.pdf"> <i class="fa fa-plus-square"></i>   Imprimir plantilla de acta de reunión</a>
    </div>
    </div>
    </div>


    <div class="row">
    <div class="col-md-12">

        <table class="table">
            <tr>
                <th>Acta</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>

            {% for reunion in lista_reuniones %}

            <tr>
                <td><a href="{{reunion.acta}}">DESCARGAR ACTA DE VOTACIÓN</a></td>
                <td>{{reunion.fecha}}</td>
                <td>
                  
                  <div class="btn-group" role="group" aria-label="btn"></div>
                    <a class="btn btn-danger" href="/eliminar_reunion_copasst/{{reunion.id}}"> <i class="fa fa-trash"></i>   Eliminar</a>
                  </div>
                  
                </td>
            
            </tr>

            {% endfor %}

        </table>

            <div class="form-group" role="group" aria-label="btn">      
              <a class="btn btn-primary" href="/copasst"> <i class="fa fa-arrow-left"></i> Regresar</a>
            </div>
          
        
    </div>
    </div>


    </div>
   
  </div>
</div>

{% endblock %}