{% extends 'sst/dashboard.html' %}
{% block content %}   
   
   
<div class="row">
  <div class="col-md-12">

    <h2>Acta de votación COPASST</h2>
    
    </div>
    </div>


    <div class="row">
    <div class="col-md-12">
    <a class="btn btn-success" href="/formulario_votacion_copasst/0"> <i class="fa fa-plus-square"></i>   Agregar acta de votación</a>
        
    </div>
    </div>


    <div class="row">
    <div class="col-md-12">

        <table class="table">
            <tr>
                <th>Archivo</th>
                <th>Acciones</th>
            </tr>

            {% for voto in lista_votos %}

            <tr>
                <td><a href="{{voto.votacion}}">DESCARGAR ACTA DE VOTACIÓN</a></td>
                <td>
                  
                  <div class="btn-group" role="group" aria-label="btn"></div>
                    <a class="btn btn-danger" href="/eliminar_votacion_copasst/{{voto.id}}"> <i class="fa fa-trash"></i>   Eliminar</a>
                  </div>
                  
                </td>
            
            </tr>

            {% endfor %}

        </table>

            <div class="form-group" role="group" aria-label="btn">      
              <a class="btn btn-primary" href="/copasst"> <i class="fa fa-arrow-left"></i> Regresar</a>
            </div>
          
        
    </div>
    </div>


    </div>
   
  </div>
</div>

{% endblock %}