{% extends 'sst/dashboard.html' %}
{% block content %}   
   
   
<div class="row">
  <div class="col-md-12">

    <h2>COPASST</h2>
    
    </div>
    </div>


    <div class="row">
    <div class="col-md-12">
    <div class="btn-group">
    <a class="btn btn-success" href="/formulario_copasst/0"> <i class="fa fa-plus-square"></i>   Agregar usuario</a>
    <a class="btn btn-success" href="#"> <i class="fa fa-plus-square"></i>   Registro acta de reunión</a>
    <a class="btn btn-success" href="/nombramiento_copasst"> <i class="fa fa-plus-square"></i>   Registro acta de conformación y nombramiento de los miembros</a>
    <a class="btn btn-success" href="/plan_copasst"> <i class="fa fa-plus-square"></i>   Plan de trabajo anual</a>
    <a class="btn btn-success" href="/votacion_copasst"> <i class="fa fa-plus-square"></i>   Registro acta de votación</a>
        
    </div>
    </div>
    </div>


    <div class="row">
    <div class="col-md-12">

        <table class="table">
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Cedula</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Cargo</th>
                <th>Acciones</th>
            </tr>

            {% for miembro in lista_miembros %}

            <tr>
                <td>{{miembro.nombre}}</td>
                <td>{{miembro.apellido}}</td>
                <td>{{miembro.cedula}}</td>
                <td>{{miembro.email}}</td>
                <td>{{miembro.telefono}}</td>
                <td>{{miembro.cargo}}</td>
                <td>
                  
                  <div class="btn-group" role="group" aria-label="btn"></div>
                    <a class="btn btn-warning" href="/formulario_copasst/{{miembro.id}}"> <i class="fa fa-plus-square"></i>   Actualizar</a>

                    <a class="btn btn-danger" href="/eliminar_copasst/{{miembro.id}}"> <i class="fa fa-trash"></i>   Eliminar</a>
                  </div>
                  
                </td>
            
            </tr>

            {% endfor %}
        
        </table>

        
    </div>
    </div>


    </div>
   
  </div>
</div>

{% endblock %}